<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs') %>
<body>

    <%- include('./parts/nav.ejs') %>

    <section class="aboutcontainer">
        <canvas id="canvas"></canvas>
        <div class="aboutcontent">
            <h1 class="aboutheading">Keep Notes Project</h1>
            <p class="aboutpara">This is a full stack web dev project using frontend(HTML, CSS, Js) and backend(Node js, Express js, MongoDb)</p>
            <div class="profiles">
                <p> <span class="ticks">&#10004;</span> <a href="https://www.linkedin.com/in/aniket213" target="_blank">LinkedIn : Aniket Mittal</a></p>
                <p> <span class="ticks">&#10004;</span> <a href="https://github.com/Aniket213" target="_blank">Github : Aniket213</a></p>
                <p> <span class="ticks">&#10004;</span> <a href="">aniketmittal222@gmail.com</a></p>
                <p> <span class="ticks">&#10004;</span> <a href="">Phone : 6378355363</a></p>
            </div>
            <div class="tp">
                <p class="tpp">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <p class="tpbtn">Lorem ipsum</p>
            </div>
        </div>
    </section>

    <%- include('./parts/footer.ejs') %>

<script>        
    var canvas = document.getElementById("canvas");
    var c = canvas.getContext("2d");
    var tx = window.innerWidth;
    var ty = window.innerHeight;
    canvas.width = tx;
    canvas.height = ty;

    var mousex = 0;
    var mousey = 0;

    // addEventListener("mousemove", function() {    // this is increasing the radius of balls on hover // you can remove it 
    // mousex = event.clientX;
    // mousey = event.clientY;
    // });


    var grav = 0.99;   //this is bouncing speed if it is high then balls will go to outerspace
    // c.strokeWidth=5;
    function randomColor() {
    return (
        "rgba(" +
        Math.round(Math.random() * 255) +
        "," +
        Math.round(Math.random() * 255) +
        "," +
        Math.round(Math.random() * 255) +
        "," +
        Math.ceil(Math.random() * 10) / 10 +
        ")"
    );
    }

    function Ball() {
    this.color = randomColor();
    this.radius = Math.random() * 20 + 14;
    this.startradius = this.radius;
    this.x = Math.random() * (tx - this.radius * 2) + this.radius;
    this.y = Math.random() * (ty - this.radius);
    this.dy = Math.random() * 2;
    this.dx = Math.round((Math.random() - 0.5) * 10);
    this.vel = Math.random() /5;
    this.update = function() {
        c.beginPath();
        c.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
        c.fillStyle = this.color;
        c.fill();
        // c.stroke();
    };
    }

    var bal = [];
    for (var i=0; i<130; i++){    // you can increase the number of balls, try 500
        bal.push(new Ball());
    }

    function animate() {    
    if (tx != window.innerWidth || ty != window.innerHeight) {
        tx = window.innerWidth;
        ty = window.innerHeight;
        canvas.width = tx;
        canvas.height = ty;
    }
    requestAnimationFrame(animate);
    c.clearRect(0, 0, tx, ty);   //try removing it to make a wonderfull drawing
    for (var i = 0; i < bal.length; i++) {
        bal[i].update();
        bal[i].y += bal[i].dy;
        bal[i].x += bal[i].dx;
        if (bal[i].y + bal[i].radius >= ty) {
        bal[i].dy = -bal[i].dy * grav;
        } else {
        bal[i].dy += bal[i].vel;
        }    
        if(bal[i].x + bal[i].radius > tx || bal[i].x - bal[i].radius < 0){
            bal[i].dx = -bal[i].dx;
        }
        // if(mousex > bal[i].x - 20 &&   // this if else is increaing the radius of the ball on hover, you can remove it 
        // mousex < bal[i].x + 20 &&
        // mousey > bal[i].y -50 &&
        // mousey < bal[i].y +50 &&
        // bal[i].radius < 70){
        //     bal[i].x += +1;
        //     bal[i].radius +=5; 
        // } else {
        //     if(bal[i].radius > bal[i].startradius){
        //     bal[i].radius += -5;
        //     }
        // }
        
        }
    }

    animate();

    setInterval(function() {
    bal.push(new Ball());   // this is adding the balls
    bal.splice(0, 1);   //this is removing the balls 
    }, 400);

    // give it a try -> 
    // setInterval(function() {
    //     bal.push(new Ball());
    //   }, 1);
</script>

</body>
</html>