<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs') %>
<body>

    <%- include('./parts/nav.ejs') %>

    <h1>Welcome to error page</h1>

    <%- include('./parts/footer.ejs') %>

</body>
</html>