<nav>
    <h1 class="logo"> <img src="https://cdn-icons-png.flaticon.com/512/3209/3209265.png" alt="logo"> <span>NTS</span></h1>
    <div class="right-nav">
        <a href="/">All Notes</a>
        <a href="/create"> + Add new note</a>
        <a href="/about">About</a>
    </div>
</nav>